.books {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .books__display {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(236, 228, 228);
    margin: 10px;
    border-radius: 7px;
  }
  .books__header {
    background-color: #dbeafe;
    padding: 10px;
  }
  .books__body {
    padding: 10px;
  }
  .books__footer {
    text-align: center;
    padding: 10px;
  }
  
  .view__button {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #dbeafe;
    outline: none;
  }
  
  