.bookView {
    display: flex;
    justify-content: center;
    margin-top:30px;
    
  
  }
  .bookView__wrapper{
    display: flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-radius: 7px;
    flex:0.5;
  }
  
  .bookView__footer__btn {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #EDE9FE;
    outline: none;
  }
  .bookView__header {
    padding: 10px;
    display: flex;
    background-color: #EDE9FE;
  }
  .bookView__body {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .bookView__footer {
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  