.character{
  display: flex;
  flex-direction: column;
}
.character__wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.character__display {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(236, 228, 228);
  margin: 10px;
  border-radius: 7px;
}
.character__header {
  background-color: #dbeafe;
  padding: 10px;
}
.character__body {
  padding: 10px;
}
.character__footer {
  text-align: center;
  padding: 10px;
}

.view__button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background-color: #dbeafe;
  outline: none;
}
.character__pagination{
  display: flex;
  justify-content: flex-end;
  padding-right: 65px;
  flex-wrap: wrap;
}

