*{
  margin: 0;
}

.app{
  display: flex;
  flex-direction: column;
}
.app__item{
  display: flex;
  flex: 1;
  background-color: #EDE9FE;
}
.app__items{
padding: 10px;
}
.app__items:hover{
  background-color: #f5f5f5;
}

.app__items > a {
  text-decoration: none;
  color:black;
}